In [2]:
# *********************************************INDEXING:
# MULTIINDEX SERIES:
import pandas as pd
import numpy as np

rng=np.random.RandomState(0)
s=pd.Series(rng.randn(9),
           index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])
s

a  1    1.764052
   2    0.400157
   3    0.978738
b  1    2.240893
   3    1.867558
c  1   -0.977278
   2    0.950088
d  2   -0.151357
   3   -0.103219
dtype: float64

In [9]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [11]:
# slicing using "outer" level:
s['b':'c']

b  1    2.240893
   3    1.867558
c  1   -0.977278
   2    0.950088
dtype: float64

In [14]:
# slicing using "inner" level:
s.loc[:, 2]

a    0.400157
c    0.950088
d   -0.151357
dtype: float64

In [15]:
# reshaping:
s.unstack()

          1         2         3
a  1.764052  0.400157  0.978738
b  2.240893       NaN  1.867558
c -0.977278  0.950088       NaN
d       NaN -0.151357 -0.103219

In [16]:
s.unstack().stack()  # coming back to the previous shape

a  1    1.764052
   2    0.400157
   3    0.978738
b  1    2.240893
   3    1.867558
c  1   -0.977278
   2    0.950088
d  2   -0.151357
   3   -0.103219
dtype: float64

In [18]:
# MULTIINDEX DATAFRAME (both axes):
df=pd.DataFrame(rng.randn(12).reshape(4,3),
               index=[['a', 'a', 'b', 'b'],[1,2,1,2]],
               columns=[['Ohio', 'Ohio', 'Colorado'],
                       ['Green', 'Red', 'Green']])
df

         Ohio            Colorado
        Green       Red     Green
a 1  0.410599  0.144044  1.454274
  2  0.761038  0.121675  0.443863
b 1  0.333674  1.494079 -0.205158
  2  0.313068 -0.854096 -2.552990