In [36]:
import pandas as pd
import numpy as np
from datetime import datetime
rng=np.random.RandomState(0)


datetime.now()

datetime.datetime(2022, 5, 4, 15, 41, 48, 456428)

In [3]:
now=datetime.now()
print(now.year)
print(now.hour)

2022
13

In [7]:
delta=datetime(2022,4,20)-datetime(2022,4,1, 8,20)
delta

datetime.timedelta(days=18, seconds=56400)

In [13]:
from datetime import timedelta

first=datetime(2022,5,4)
end=first + timedelta(12) # adding 12 days
end

datetime.datetime(2022, 5, 16, 0, 0)

In [22]:
# converting datetime to string (string formating using strftime):
date_d=datetime(2022,5,2)

date_f=date_d.strftime('%Y-%m-%d') # or str(date_d)
type(date_f)

str

In [28]:
# converting string to datetime
ds='2022-05-01'
d=datetime.strptime(ds,'%Y-%m-%d')
d

datetime.datetime(2022, 5, 1, 0, 0)

In [29]:
# or using dateutil.parser library
from dateutil.parser import parse

parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [30]:
parse('01/05/2022', dayfirst=True)

datetime.datetime(2022, 5, 1, 0, 0)

In [37]:
# index -> daterange:
range_index=pd.Series(rng.randn(1000), index=pd.date_range('2022/05/01', periods=1000))
range_index

2022-05-01    1.764052
2022-05-02    0.400157
2022-05-03    0.978738
2022-05-04    2.240893
2022-05-05    1.867558
                ...
2025-01-20    0.412871
2025-01-21   -0.198399
2025-01-22    0.094192
2025-01-23   -1.147611
2025-01-24   -0.358114
Freq: D, Length: 1000, dtype: float64

In [42]:
range_index.is_unique

True

In [38]:
#slicing
range_index['2023']

2023-01-01   -1.676004
2023-01-02    1.152332
2023-01-03    1.079619
2023-01-04   -0.813364
2023-01-05   -1.466424
                ...
2023-12-27   -0.590058
2023-12-28   -0.110489
2023-12-29   -1.660700
2023-12-30    0.115148
2023-12-31   -0.379148
Freq: D, Length: 365, dtype: float64

In [41]:
dates = pd.date_range('5/1/2022', periods=100, freq='W-WED') # extracting only Wednesdays, 'B' - only business days
dates

DatetimeIndex(['2022-05-04', '2022-05-11', '2022-05-18', '2022-05-25',
               '2022-06-01', '2022-06-08', '2022-06-15', '2022-06-22',
               '2022-06-29', '2022-07-06', '2022-07-13', '2022-07-20',
               '2022-07-27', '2022-08-03', '2022-08-10', '2022-08-17',
               '2022-08-24', '2022-08-31', '2022-09-07', '2022-09-14',
               '2022-09-21', '2022-09-28', '2022-10-05', '2022-10-12',
               '2022-10-19', '2022-10-26', '2022-11-02', '2022-11-09',
               '2022-11-16', '2022-11-23', '2022-11-30', '2022-12-07',
               '2022-12-14', '2022-12-21', '2022-12-28', '2023-01-04',
               '2023-01-11', '2023-01-18', '2023-01-25', '2023-02-01',
               '2023-02-08', '2023-02-15', '2023-02-22', '2023-03-01',
               '2023-03-08', '2023-03-15', '2023-03-22', '2023-03-29',
               '2023-04-05', '2023-04-12', '2023-04-19', '2023-04-26',
               '2023-05-03', '2023-05-10', '2023-05-17', '2023-05-24',
               '2023-05-31', '2023-06-07', '2023-06-14', '2023-06-21',
               '2023-06-28', '2023-07-05', '2023-07-12', '2023-07-19',
               '2023-07-26', '2023-08-02', '2023-08-09', '2023-08-16',
               '2023-08-23', '2023-08-30', '2023-09-06', '2023-09-13',
               '2023-09-20', '2023-09-27', '2023-10-04', '2023-10-11',
               '2023-10-18', '2023-10-25', '2023-11-01', '2023-11-08',
               '2023-11-15', '2023-11-22', '2023-11-29', '2023-12-06',
               '2023-12-13', '2023-12-20', '2023-12-27', '2024-01-03',
               '2024-01-10', '2024-01-17', '2024-01-24', '2024-01-31',
               '2024-02-07', '2024-02-14', '2024-02-21', '2024-02-28',
               '2024-03-06', '2024-03-13', '2024-03-20', '2024-03-27'],
              dtype='datetime64[ns]', freq='W-WED')

In [46]:
x=pd.Series([1,4,3,7], index=[datetime(2022,5,1), datetime(2022,5,2), datetime(2022,5,2), datetime(2022,5,3)])
x.index.is_unique

False

In [50]:
# hourly frequencies:
pd.date_range('2000-01-01', '2000-01-03', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [53]:
from pandas.tseries.offsets import Hour, Minute

#addition hours-minutes:
Hour(2)+Minute(30)